<div style='border: 3px dashed red'>
  <% if @visitor %>
    Hello, <%= @visitor %>!
  <% else %>
    <form action="/hello">
      My name is <%= @name %>.
      What's your name?
      <input type="text" name="visitor">
      <input type="submit" value="Submit">
    </form>
  <% end %>
  <img src='/images/kitten.png'>
</div>
<!-- <div>
  <img src='http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg'>
</div> -->
<!-- <% if @name %>
  My name is <%= @name %>
<% end %> -->
